{{ form(form) }}<br><br><br>
<a href="../blog/">Retour a l'acceuil</a>
<!--
<table>
	<tr>
		<td>{{ form_label(form.title) }} : {{ form_widget(form.title) }}</td>
	</td>
	<tr>
		<td>{{ form_label(form.content) }} : {{ form_widget(form.content) }}</td>
	</tr>
	<tr>
		<td>{{ form_widget(form.Poster) }}</td>
	</tr>
</table>
-->